.feedback{
    width: 100vw;
    height: 100vh;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    
    
    padding: 2rem 1rem;

}

.feedback > form button.yellow{
    background-color: #f1a90d;
    color:#ffffff;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    font-weight: 500;
    border: 0;
    margin-top: 2rem;
    transition: all 2s;
   
}
.feedback > form button.yellow:hover{
    font-size: 1.5rem;

}


.feedback > form{
    width: 100%;
    height: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;   
}

.feedback > form > div{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;  
    width: 100%;  
}

.feedback > form > div label{
    padding-bottom: 0.2rem;
    font-size: 1.2rem;
}

.feedback > span{
    font-size: 2.2rem;
    font-weight: 700;    
    font-style: italic;
    color: #121212;
    /* transform: rotate(20deg); */
   
    /* font-display: initial; */
    padding-bottom: 1rem; 
}


.feedback > .design{
    width: 80vw;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback > .design::before, .feedback > .design::after{
    content: "";
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2px;
    width: 25%;
    display: block;
    background-color: black;
    /* position: relative; */
    /* transition: left 2s, right 2s; */
}

/* Medium Devices - Tablet */
@media (min-width: 641px){
    .feedback > form > div.text{
        width: 50%;
    }
    .feedback > form > div.textArea{
        width: 100%;
    }
}
