footer{
    width: 100%;
 
    background-color: #121212;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  

    padding: 2rem 1rem;
}


footer > .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}




footer > .container > .link .icon{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #121212;
    border: 2px solid #fff;
    border-radius: 100%;
    font-size: 1.2rem;

    transition: all 2s;

}

footer > .container > .link .icon:hover{
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
}



footer > span{
    font-size: 1.5rem;
    font-weight: 300;    
    font-style: italic;
    letter-spacing: 1.2px;

    /* transform: rotate(20deg); */
   
    /* font-display: initial; */
    padding-bottom: 1rem; 
}