/* Import da fonte utilizada */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,400;0,600;1,900");

@import url("../css/feedBack.css");
@import url("../css/section-01.css");
@import url("../css/section-02.css");
@import url("../css/section-03.css");
@import url("../css/header.css");
@import url("../css/footer.css");
@import url("../css/copyright.css");

/* COR: 
    preto     |  #121212
    amarelo    |  #f1a90d
    branco     | #ffffff
    cinza - titulo   | #212529
    text-input   | #eefdff
   
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-size: 16px;
}

body{
    font-family: 'Barlow Condensed', sans-serif; 

}
/* <i class="fas fa-fist-raised"></i> */
