header{
    background-color: #121212;
    color: #fff;
    width: 100vw;
    height: 15vh;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    text-transform: uppercase;
    
}

header > img{
    width: 20vw;
    height: 10vh;
}

header > .menu{    
    display: flex;
    align-items: center;
    justify-content: center;
}

header > .menu > div{
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
}