.section-03{
    width: 100vw;


    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #f1a90d;

    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem; 
}

.section-03 > .text{
    column-count: 1;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    padding-bottom: 2rem;
}

.section-03 > .title{
    font-size: 2rem;
    font-weight: 700;    
    font-style: italic;
    color: #212529;
    padding-bottom: 1rem;
}

.section-03 > button.black{
    background-color: #121212;
    color:#ffffff;
    font-size: 1.5rem;
    border-radius: 25px;
    padding: 1.5rem 2.5rem;
    font-weight: 500;
    border: 0;
   
}

.section-03 > button.black > span{
    padding-left: 1rem;
}



.section-03 > .design{
    width: 80vw;
    padding-bottom: 1rem;

    font-size: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-03 > .design::before, .section-03 > .design::after{
    content: "";
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2px;
    width: 25%;
    display: block;
    background-color: black;
    /* position: relative; */
    /* transition: left 2s, right 2s; */
}