.section-02{
    width: 100%;
    padding: 2rem 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;    
}

.section-02 > .section-02-container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-02 > .section-02-container > .personagem{
    width: 100%; 
    padding-bottom: 0.5rem;    
}

.section-02 > .section-02-container > .personagem > img{
    width: 100%;
    border-radius: 5%;
}

.section-02 > span{
    font-size: 2.2rem;
    font-weight: 700;    
    font-style: italic;
    text-align: center;
    color: #121212;
    padding-bottom: 1rem;    
}

/* Medium Devices - Tablet */
@media (min-width: 641px){

    .section-02 > .section-02-container > .personagem {
        width: 45%;        
    }
    .section-02 > .section-02-container {
        height: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Large Devices - Desktop */
@media (min-width: 992px){
    .section-02{
        height: 100vh;
    }
    .section-02 > .section-02-container > .personagem {
        width: 300px; 
        padding-left: 1rem;       
    }
    .section-02 > .section-02-container {
        height: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}