.section-03{
    width: 100%;
    background-color: #f1a90d;
    padding: 4rem 1rem 2rem 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-03 > .text{
    column-count: 2;
    font-size: 1rem;

    font-weight: 500;
    padding-bottom: 3rem;
    color: #212529;
}

.section-03 > .title{
    color: #212529;
}

.section-03 > button.black:hover{
    background-color: #212529;
    color: #fff;
}

.section-03 > button.black > span{
    padding-left: 1rem;
}

/* RESPONSIVE */
/* Medium Devices - Tablet */
@media (min-width: 641px){
    .section-03 > .text{
        padding: 1rem 10vw 3rem 10vw;
        font-size: 1.5rem;
    }
}
