.section-02{
    width: 100%;
    /* height: 100vh; */

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    padding: 2rem 1rem;

    
}

.section-02 > .section-02-container{
    width: 100%;
    /* padding: 2rem; */

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-02 > .section-02-container > .personagem{
    width: 100%; 
    padding-bottom: 0.5rem;
    
}

.section-02 > .section-02-container > .personagem > img{
    width: 100%;
    border-radius: 5%;
}

.section-02 > span{
    font-size: 2.2rem;
    font-weight: 700;    
    font-style: italic;
    text-align: center;
    color: #121212;
    /* transform: rotate(20deg); */
   
    /* font-display: initial; */
    padding-bottom: 1rem;    
}


.section-02 > .design{
    width: 80vw;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-02 > .design::before, .section-02 > .design::after{
    content: "";
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2px;
    width: 20%;
    display: block;
    background-color: black;
    /* position: relative; */
    /* transition: left 2s, right 2s; */
}

/* Medium Devices - Tablet */
@media (min-width: 641px){
    .section-02{
        /* height: 100vh; */
    }
    .section-02 > .section-02-container > .personagem {
        width: 45%;        
    }
    .section-02 > .section-02-container {
        padding-left: 2rem;
        padding-right: 2rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Large Devices - Desktop */
@media (min-width: 992px){
    .section-02{
        height: 100vh;
    }
    .section-02 > .section-02-container > .personagem {
        width: 250px; 
        padding-left: 1rem;       
    }
    .section-02 > .section-02-container {
        padding-left: 2rem;
        padding-right: 2rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}